.tasks_container {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.task {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	min-height: 200px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card {
	flex: 1 1 300px;
	width: 300px;
}

.task header {
	padding: 10px;
	background-color: var(--dark);
	margin-bottom: 10px;
}

.task section {
	padding: 3px 10px 10px 10px;
}

.task:hover header .fa {
	display: initial !important;
}

.fa {
	cursor: pointer;
}

.task h2,
.task p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bad_button {
	background-color: #b81515;
}
