@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

:root {
	--dark: #202225;
	--base: #2f3136;
	--light: #36393f;
	--white: #eae5e6;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

*,
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
label,
textarea,
input,
button {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--white);
}

.container {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.header {
	position: fixed;

	top: 0;
	left: 0;
	width: 100vw;

	padding: 10px 0px;
	background-color: var(--dark);
}

body {
	background-color: var(--base);
}

.space_between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	padding: 5px 10px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-size: 1em;
	background-color: var(--dark);

	cursor: pointer;
	padding: 10px 20px;
	border-radius: 5px;
}

.link_button {
	text-decoration: underline;
	background-color: transparent;
}

.link_button:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

main {
	padding-top: 90px;
	margin-bottom: 30px;
}

main > form {
	margin-top: 20px;
}

form > label {
	font-size: 1.5em;
}

form > input {
	display: block;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: var(--dark);
	border: none;
	padding: 8px 10px;

	width: 100%;
	max-width: 500px;
	font-size: 1.2em;
}

.darker {
	background-color: rgba(0, 0, 0, 0.4);
}
